
@media (max-width: 480px) {
    body{
        font-size: 10px;
    }
    .slider__text{
        font-size: 13px;
    }
    .slider__item{
        padding: 0 15px;
        padding-bottom: 30px;
    }
}